<div mat-dialog-content>
    <p>Update this pet's details:</p>
      <mat-form-field>
          <p>Name:</p>
          <input matInput [(ngModel)] = "dialogPet.name">
     </mat-form-field> 
     <mat-form-field>
          <p>Breed:</p>
          <input matInput [(ngModel)] = "dialogPet.breed">
      </mat-form-field>
      <mat-form-field>
          <p>Age:</p>
          <input matInput [(ngModel)] = "dialogPet.age">
      </mat-form-field>
  </div>
   <div mat-dialog-actions>
   <button mat-mini-fab class = "deleteButton" color = "success" (click) = "openDialogDelete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button (click) = "exit()"> Cancel </button>
    <button mat-button (click) = "save()"> Save </button>
  </div>